{% extends 'header.html' %}
{% block content %}

<center>
    
    <form name="enter_otp" method="post" action="{% url 'enter_otp' %}">
        
        <input type="hidden" name="otp1" value={{otp}}>
        <input type="hidden" name="email" value={{email}}>

        {% csrf_token %}
        
        <h1>OTP varify</h1>
        {% if msg %}
        <H5 style="color:blue; font-family: bold;">{{msg}}</H5>
        {% endif %}
        <table >

                <tr>
                <td>Enter OTP:</td>
                <td><input type="text" name="otp"></td>
            </tr>
          
        
    
        </table>
            <button class="btn btn-primary" type="submit">Varify OTP</button>
            <button type="button" class="btn btn-primary" onclick="send_again()">send OTP</button>
        </form>
        </center>

{% endblock %}
