{% extends 'header.html' %}
{% block content %}

<center>
    
    <form name="pas_change" method="post" action="{% url 'forget_pas' %}">
        
        {% csrf_token %}
        
        <h1>Change Password</h1>
        {% if msg %}
        <H5 style="color:blue; font-family: bold;">{{msg}}</H5>
        {% endif %}
        <table >
                <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
            </tr>
        
    
        </table>
            <button class="btn btn-primary" type="submit">Send OTP</button>
           
        </form>
        </center>

{% endblock %}
