{% extends 'header.html' %}
{% block content %}

<center>
    
    <form name="frm" method="post" action="{% url 'login' %}">
        
        {% csrf_token %}
        
        <h1>Login form</h1>
        {% if msg %}
        <H5 style="color:blue; font-family: bold;">{{msg}}</H5>
        {% endif %}
        <table >
                <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
            </tr>
          <tr>
            <td>Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
        
    
        </table>
            <button class="btn btn-primary" type="submit">login</button>
            <a href="{% url 'forget_pas' %}"><input type="button" class="btn btn-primary" value="Forget Password"></a>
        </form>
        </center>

{% endblock %}
