{% extends 'header.html' %}

{% block content %}
<center>
    <a href="change_profile"><img src={{obj.profile_pic.url}}  width='200px' height="200px"  ></a><br><br>
    <h1>{{obj.fname}} {{obj.lname}}</h1>

    <form name="frm_profile" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
        <table >
            {% csrf_token %}
            {% if msg %}
                <H5 style="color:blue; font-family: bold;">{{msg}}</H5>
            {% endif %}
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="fname" value={{obj.fname}}></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="lname" value={{obj.lname}}></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email" value={{obj.email}} readonly> </td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td><input type="text" name="mobile" value={{obj.mobile}}></td>
            </tr>
            <tr>
                <td>Gender:</td>
                {% if obj.gender == "male" %}
                <td><input type="radio" value="male" name="gender" checked>Male
                <input type="radio" value="female" name="gender">Female</td>

                {% elif obj.gender == "female" %}
                <td><input type="radio" value="male" name="gender" >Male
                <input type="radio" value="female" name="gender" checked>Female</td>

                {% else %}
                <td><input type="radio" value="male" name="gender" >Male
                    <input type="radio" value="female" name="gender" >Female</td>
    
                {% endif %}
        
            </tr>

            <tr> 
                <td>Profile image:</td>
                <td><input type="file" name="change_profile"></td>
            </tr>
        </table><br>
        
        <button class="btn btn-primary" type=submit>Update Profile</button>
    </form>
</center>


{% endblock  %} 