{% extends 'header.html' %}
{% block content %}

<center>
    
    <form name="select_pas" method="post" action="{% url 'new_pas' %}">
        <input type="hidden" name="email" value={{email}}>
        {% csrf_token %}
        
        <h1>Select Password</h1>
        {% if msg %}
        <H5 style="color:blue; font-family: bold;">{{msg}}</H5>
        {% endif %}
        <table >
                <tr>
                <td>New Password:</td>
                <td><input type="text" name="npassword"></td>
            </tr>
            <tr>
                <td>confirm New Password:</td>
                <td><input type="text" name="c_npassword"></td>
            </tr>
            
        </table>
            <button class="btn btn-primary" type="submit">Varify OTP</button>
            
        </form>
        </center>

{% endblock %}
