{% extends 'header.html' %}
{% block content %}

<center>
<h1>Signup form</h1>
    <form name="frm" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
        <table >
            {% csrf_token %}
            {% if msg %}
            <H5 style="color:blue; font-family: bold;">{{msg}}</H5>
            {% endif %}
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
            <td><input type="text" name="lname"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Mobile:</td>
            <td><input type="text" name="mobile"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type="radio" value="male" name="gender">Male
            <input type="radio" value="female" name="gender">Female</td>
        
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password"></td>
    </tr>
    <tr>
        <td>Confirm Password:</td>
        <td><input type="password" name="cpassword"></td>
    </tr>

    <td>Profile Image:</td>
        <td><input type="file" name="profile_pic"></td>
    </tr>

    </table>
        <button class="btn btn-primary" type=submit>Submit</button>
    </form>
    </center>
{% endblock %}